html, body {
    width: 100vw !important;
}

.landing-container, .forms-container {
    background: linear-gradient(rgb(116, 190, 116), rgb(117, 167, 117), rgb(82, 122, 82));
    min-height: 100%;
    width: 100vw;
}

.steps-container {
    width: 100vw;
    float: left;
}

.instructions {
    list-style-type: none;
}


.instructions li span {
    color: green;
    margin-right: 10px;
}

.search-options img {
    height: 64px;
    width: 64px;
}

.search-options li {
    display: inline-block;
    margin-right: 20px;
}

.track-btn {
    width: 300px !important;
    height: 70px;
}

/* .homepage-row {
    display: block !important;
} */

.landing-title {
    font-size: 96px;
    color: rgb(90, 146, 90);
    text-align: center;
    padding-top: 100px;
}

.landing-subheading {
    text-align: center;
}

li {
    font-size: 26px;
    color: white;
}

.title-pic {
    width: 100vw;
    text-align: center;
}

.headphone {
    margin-top: 40px;
    margin-bottom: 40px;
    transform: rotate(0deg);
}


.login-btn-container {
    width: 100vw;
    text-align: center;
}

.btn-success {
    background-color:rgb(90, 146, 90);
    border: 3px solid rgb(67, 102, 67);
    z-index: 100;
}

.btn-success:hover {
    border: 3px solid lightgreen;
    color: lightgreen;
}

.search-form {
    margin: 0 25vw;
}

.form-control {
    width: 50vw;
}

.form-group option {
    width: 50vw;
    height: 128px;
}

.tracks-container {
    height: 400px;
    overflow-y: scroll;
    display: none;
    margin-top: 15px;
}

.track-artist, .track-title {
    display: inline-block;
}

.track-title {
    margin-left: 20px;
    margin-right: 5px;
}

.chosen-song {
    margin-top: 25px;
    border: 5px solid rgb(22, 78, 22);
    border-radius: 6px;
}

.cancel-song {
    float: right;
    margin-top: -2px;
    font-weight: bolder;
    color: rgb(121, 59, 59);
}

.playlist-container {
    width: 50vw;
    border: 1px solid rgb(22, 78, 22);
}

.playlist-container div {
    border: 1px solid rgb(22, 78, 22);
}


@media screen and (max-width: 568px) {
    .landing-container, .forms-container {
        height: auto;
    }

    .playlist-container {
        width: 94vw;
    }

    .search-form {
        margin: 0 3vw;
    }
    
    .form-control {
        width: 94vw;
        margin-right: 3vw;
        margin-left: 3vw;
    }
    
    .form-group option {
        width: 90vw;
        height: 128px;
    }

    .headphone {
        width: 310px;
        height: 310px;
    }

    .landing-title {
        font-size: 69px;
    }
    
    .landing-subheading {
        font-size: 26px;
    }

    .chosen-song {
        width: 95vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .login-btn-container {
        margin-bottom: 20px;
    }
    
}
