html, body {
    width: 100vw !important;
}

.landing-container, .forms-container {
    background-color: rgb(138, 187, 138);
    min-height: 100vh;
    width: 100vw;
}

.instructions-container {
    margin: 0 25vw;
}

.search-options img {
    height: 64px;
    width: 64px;
}

.search-options li {
    display: inline-block;
    margin-right: 20px;
}

.track-btn {
    width: 300px !important;
    height: 70px;
}

/* .homepage-row {
    display: block !important;
} */

.landing-title {
    font-size: 72px;;
    color: rgb(90, 146, 90);
}

li {
    font-size: 26px;
    color: white;
}


.btn-success {
    background-color:rgb(90, 146, 90);
    z-index: 100;
}

.search-form {
    margin: 0 25vw;
}

.form-control {
    width: 50vw;
}

.form-group option {
    width: 50vw;
    height: 128px;
}

.tracks-container {
    height: 400px;
    overflow-y: scroll;
    display: none;
    margin-top: 15px;
}

.track-artist, .track-title {
    display: inline-block;
}

.track-title {
    margin-left: 20px;
    margin-right: 5px;
}

.chosen-song {
    padding-top: 25px;
}



