html, body {
    width: 100vw !important;
    min-height: 100%;
}

.landing-container, .forms-container {
    background: linear-gradient(rgb(14, 57, 114), rgb(41, 92, 151),rgb(72, 133, 202));
    min-height: 100vh;
    width: 100vw;
}

.steps-container {
    width: 100vw;
    float: left;
}

.instructions {
    list-style-type: none;
}


.instructions li span {
    color: green;
    margin-right: 10px;
}

.search-options img {
    height: 64px;
    width: 64px;
}

.search-options li {
    display: inline-block;
    margin-right: 20px;
}

.track-btn {
    width: 300px !important;
    height: 70px;
}

.landing-title {
    font-size: 96px;
    color: rgb(140, 220, 140);
    text-align: center;
    padding-top: 100px;
    font-family: 'Quicksand', sans-serif;
}

.landing-subheading {
    text-align: center;
    color: rgb(140, 220, 140);
    font-family: 'Quicksand', sans-serif;
}

li {
    font-size: 26px;
    color: white;
}

.title-pic {
    width: 100vw;
    text-align: center;
}

.headphone {
    margin-top: 40px;
    margin-bottom: 40px;
    transform: rotate(0deg);
}


.login-btn-container {
    width: 100vw;
    height: 75px;
    text-align: center;
    padding-bottom: 100px;
}

.btn-success {
    background-color:rgb(48, 116, 48);
    border: 3px solid whitesmoke;
    z-index: 100;
    font-family: 'Quicksand', sans-serif;
}

.btn-success:hover {
    border: 3px solid lightgreen;
    color: lightgreen;
}

.search-form {
    margin: 0 25vw;
}

.form-control {
    width: 50vw;
}

.form-group option {
    width: 50vw;
    height: 128px;
}

.tracks-container {
    height: 400px;
    overflow-y: scroll;
    display: none;
    margin-top: 15px;
}

.track-artist, .track-title {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
}

.track-title {
    margin-left: 20px;
    margin-right: 5px;
}

.chosen-song {
    margin-top: 25px;
    border: 5px solid rgb(102, 175, 102);
    border-radius: 6px;
    font-family: 'Quicksand', sans-serif;
}

.cancel-song {
    float: right;
    margin-top: -2px;
    font-weight: bolder;
    color: rgb(121, 59, 59);
}

.playlist-container {
    width: 50vw;
    border: 1px solid rgb(22, 78, 22);
}

.playlist-container div {
    border: 1px solid rgb(102, 175, 102);
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}

.export-btn {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    font-family: 'Quicksand', sans-serif;
}

.logo-link, .logo-link img {
    display: inline-block !important;
    margin-left: -15px !important;
    margin-bottom: -25px !important;
    z-index: 10;
}

.track-title {
    margin-left: 30px !important;
    z-index: 10;
}

.track-title, .track-artist {
    color: rgb(102, 175, 102);
}


@media screen and (max-width: 568px) {
    .landing-container, .forms-container {
        min-height: 100vh;
    }

    .playlist-container {
        width: 94vw;
    }

    .search-form {
        margin: 0 2vw !important;
    }
    
    .form-control {
        width: 94vw;
        margin-right: 3vw;
        margin-left: 3vw;
    }
    
    .form-group option {
        width: 90vw;
        height: 128px;
    }

    .headphone {
        width: 320px !important;
        height: 320px !important;
    }

    .landing-title {
        font-size: 64px;
    }

    .chosen-song {
        width: 95vw;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
    }

    .login-btn-container {
        margin-bottom: 30px !important;
    }
    
}

@media screen and (max-width: 376px) {
    .headphone {
        width: 280px !important;
        height: 280px !important;
    }

    .landing-title {
        font-size: 52px;
    }
}
